<h1>Listing dishes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th>Cost</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= dish.name %></td>
    <td><%= dish.description %></td>
    <td><%= image_tag(dish.picture, class: 'list_image') %></td>
    <td><%= dish.cost %></td>
    <td><%= dish.company.name %></td>
    <td class="list_actions">
		<%= link_to 'Show', company_dish_path(@company, dish) %>
    <%= link_to 'Edit', edit_company_dish_path(@company, dish) %>
    <%= link_to 'Destroy', company_dish_path(@company, dish), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dish', new_company_dish_path %>
