<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dish.name %>
</p>

<p>
  <b>Description:</b>
  <%= @dish.description %>
</p>

<p>
  <b>Picture:</b>
  
  <%= image_tag @dish.picture.url %>
</p>

<p>
  <b>Cost:</b>
  <%= @dish.cost %>
</p>

<p>
  <b>Company:</b>
  <%= @dish.company %>
</p>


<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
